/* 아직 메인에 import 못했어요! 여기 만들다가 고장났음ㅎㅎ 공부해서 만들겠슴다ㅠ! */
#bottom-tab {
    width: 500px;
    height: 100px;
}
.tab_button a {
    width: 100px;
    height: 100px;
}
/* 아직 메인에 import 못했어요! 여기 만들다가 고장났음ㅎㅎ 공부해서 만들겠슴다ㅠ! */
